<nav class="navbar" id="navbar">
    <div class="container">
        <a href="#" class="logo">
            <img src="assets/activeSignal.webp" alt="Arito Logo" style="width: 170px;" id="navbar-logo" />
        </a>

        <ul class="nav-menu">
            <li><a href="#solution" class="nav-link">Giải pháp</a></li>
            <!-- <li><a href="#how-it-works" class="nav-link">Cách hoạt động</a></li> -->
            <li><a href="#features" class="nav-link">Tính năng</a></li>
            <li><a href="#pricing" class="nav-link">Bảng giá</a></li>
            <li><a href="blog/index.html" class="nav-link">Blog</a></li>
        </ul>

        <div class="nav-cta">
            <a href="#demo" class="btn btn-secondary">Trải nghiệm Trợ lý AI</a>
            <a href="#contact" class="btn btn-primary">Tư vấn Doanh nghiệp</a>
        </div>

        <div class="mobile-toggle" id="mobileToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>